<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html" lang="en">
<head>
    <div th:fragment="header(title)">
        <meta charset="UTF-8"/>
        <title th:text="${title}">title</title>
        <!-- when including fragment, do th:include="header(title ="whatever page you are working on")" -->
        <!-- include universal stylesheets, etc here -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
              integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
              crossorigin="anonymous">
        <link rel="stylesheet" href="/static/css/universal.css">

    </div>
</head>
<body>


<div th:fragment="navbar">
<nav class="p-0 navbar navbar-default mb-5">
        <!--Brand and toggle get grouped for better mobile display-->
        <div class="navbar-header">
            <a class="navbar-brand p-0" th:href="@{/}"
               style="font-family:'Orbitron',sans-serif; font-size: 25px; color:#483112">
                <img src="/static/img/Logo.png" height="100" width="430" alt="logo.jpg">
            </a>
        </div>

        <div class="navbar nav">
            <a th:href="@{/about}">About us</a>
            <a th:href="@{/contact}">Contact us</a>
            <a th:href="@{/battle}">Battle</a>
            <a th:href="@{/home}">Home</a>
            <div sec:authorize="isAnonymous()"> <!--if  not logged in show. might need "spring dialect"-->
                <a th:href="@{/register}">Sign up</a>
            </div>
            <div sec:authorize="isAuthenticated()"> <!--only shows up after security login-->
                <a th:href="@{/profile}"><span th:text="${#authentication.principal.username}"></span></a>
                <form th:action="@{/logout}" th:method="post">
                    <button class="btn-link btn" style="margin-top: 8px">Logout</button>
                </form>
            </div>
        </div>

</nav>
</div> <!--fragment end-->


<div th:fragment="footer">
    <div class="footer row mt-5 p-0">
        <div class="col-9"></div>
        <div class="col-3 m-0">the footer appears!</div>
        <br class="w-100">
        <div id="links" class="col-12">
            <span>Github</span>
            <span></span>
        </div>
    </div>
    <script src="/static/js/jquery-2.x-git.js"></script>

</div>


</body>
</html>