<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <div th:include="partials/fragments :: header(title='500 ERROR STATUS')"></div>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/static/css/errorCSS/error.css">
</head>
<body>
<nav th:replace="partials/fragments :: navbar"></nav>

<div id="main" class="container container-fluid text-center">
  <h1>Not Allowed!</h1>
  <p>authenication error 500, you should see mainly on security issues or authentication fails
  </p>
</div>
<div th:include="partials/fragments :: footer(footer=true)"></div>
</body>
</html>