<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/fragments :: header(title='500 ERROR STATUS',css='/static/css/error.css')">
</head>
<body>
<nav th:replace="partials/fragments :: navbar"></nav>

<div id="main" class="container container-fluid text-center">
  <h1>Not Allowed!</h1>
  <p>authenication error 500, you should see mainly on security issues or authentication fails
  </p>
</div>
<div th:include="partials/fragments :: footer(footer=true)"></div>
</body>
</html>