h3{
    color: white;
}
#master-container img{
    width: 200px;
    height: auto;
    margin-top: 60px;

}
#Noah > img{
    height: 203.62px;
    object-fit: cover;
}
.fullscreen{
    position: fixed;
    top:100px;
    left:0;
    background: black;
    color: white;
    z-index: 4;
    height: 100%;
    width: 100%;
}