@import "universal.css";
#navLinks #contact{
    color: gold;
}
#contactUs_Form {
    width: 50%;
}

@media screen and (max-width: 803px) {
    #contactUs_Form {
        width: 75%;
        margin: auto;
    }
}
