@import "universal.css";
#navLinks #profile{
    color: gold;
}
:root {
    --grid-spacing-columns: 100px;
    --grid-spacing-rows: 50px;

    --font-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075),
    0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075),
    0 16px 16px hsl(0deg 0% 0% / 0.075);

    --box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075),
    0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075),
    0 16px 16px hsl(0deg 0% 0% / 0.075);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: uppercase;
}

body {
    height: 100vh;
    width: 100%;
    padding: 0;

    display: grid;
    place-items: center;
}

.font-color{
    color: whitesmoke;
}

.font-shadow { text-shadow: var(--font-shadow);}

.main-container {
    display: grid;
    grid-template-columns: repeat(9, var(--grid-spacing-columns));
    grid-template-rows: repeat(16, var(--grid-spacing-rows));
    margin: 75px 0 0 0;
}

.header {
    grid-column: 1 / 10;
    grid-row: 1 / 7;

    display: grid;
    grid-template-columns: repeat(9, var(--grid-spacing-columns));
    grid-template-rows: repeat(6, var(--grid-spacing-rows));
}

.picture {
    grid-column: 1 / 5;
    grid-row: 1 / 7;

    display: flex;
    align-items: center;
}

.picture-wrapper {
    width: 400px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.picture-wrapper img {
    background: whitesmoke;
    border: 3px solid whitesmoke;
    border-radius: 50%;
    box-shadow: var(--box-shadow);
    width: 200px;
    height: 200px;
}

.title {
    font-size: 36px;
    line-height: 42px;

    height: 50px;
    margin-left: 20px;
}

.stats {
    grid-column: 6 / 9;
    grid-row: 2 / 6;

    display: flex;
    align-items: center;
}

.stat  {
    width: 100px;
    height: 100px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.icon-number {
    font-size: 36px;
    font-weight: 500;
    display: flex;
    justify-content: space-around;
}

.text {
    font-size: 20px;
    font-weight: 300;
    text-align: center;
}
.filestack-wrapper {
    grid-column: 3 / 10;
    grid-row: 7 / 8;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.body {
    grid-column: 1 / 10;
    grid-row: 9 / 17;

    display: grid;
    grid-template-columns: repeat(9, var(--grid-spacing-columns));
    grid-template-rows: repeat(9, var(--grid-spacing-rows));
}

.information {
    grid-column: 3 / 10;
    grid-row: 1 / 8;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.section {
    width: 500px;
    height: 50px;

    border-top: 1px solid #6c757d;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-box {
    border: none;
    outline: none;
    text-align: left;
    background: whitesmoke;
    width: 200px;
    height: 40px;
    padding-left: 5px;
}

.input-box:hover {
    background: #cbcbcb;
}

.input-box:active,
.input-box:focus {
    outline: 2px solid rgb(255, 203, 5);
}

.submit-wrapper {
    grid-column: 3 / 10;
    grid-row: 8 / 9;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    color: #d9d9d9;
    width: 200px;
    height: 40px;
    background: black;
    box-shadow: var(--box-shadow);
    border: none;
    text-align: center;
}

.button:hover {
    background: #212121;
}

.button:active {
    outline:0;
    background: grey;
}

@media only screen and (max-width: 900px) {
    :root {
        --grid-spacing-columns: 40px;
        --grid-spacing-rows: 20px;
    }

    .main-container {
        grid-template-columns: repeat(9, var(--grid-spacing-columns));
        grid-template-rows: repeat(30, var(--grid-spacing-rows));
    }

    .header {
        grid-column: 1 / 10;
        grid-row: 1 / 12;

        display: grid;
        grid-template-columns: repeat(9, var(--grid-spacing-columns));
        grid-template-rows: repeat(7, var(--grid-spacing-rows));
        border: none;
    }

    .picture {
        grid-column: 1 / 10;
        grid-row: 1 / 7;
    }

    .picture-wrapper {
        width: 360px;
        height: 80px;
    }

    .picture-wrapper img {
        width: 80px;
        height: 80px;
    }

    .stats {
        grid-column: 1 / 10;
        grid-row: 7 / 13;

        display: flex;
        justify-content: center;
    }

    .filestack-wrapper {
        grid-column: 1 / 10;
        grid-row: 13 / 15;
    }

    .body {
        grid-column: 1 / 10;
        grid-row: 14 / 29;

        display: grid;
        grid-template-columns: repeat(9, var(--grid-spacing-columns));
        grid-template-rows: repeat(17, var(--grid-spacing-rows));
        height: 100%!important;
    }

    .information {
        grid-column: 1 / 10;
        grid-row: 4 / 14;

        justify-content: space-around;
    }

    .info-font-size {
        font-size: 12px;
    }

    .section {
        /*background: rgba(255, 203, 5, 0.80);*/
        width: 360px;
        height: 36px;
        padding: 0 6px;
        border: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .input-box {
        width: 180px;
        height: 30px;
        padding-left: 5px;
    }

    .submit-wrapper {
        grid-column: 1 / 10;
        grid-row: 14 / 18;
    }

    .button {
        width: 180px;
        height: 30px;
    }

}
@media screen and (min-height: 1100px){
    .main-container {
        margin: 0;
    }
}
