.hidden{
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s;
}
.active{
    visibility: visible;
    opacity: 1;
    transition: opacity .3s;

}
.formBackground{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background:   black;
    opacity: 0.5;

    z-index: 2;
}
.popup_loginForm{
    background-color: black;
    border: 3px solid black;
    position: fixed;
    top: 13%;
    right: 0;
    z-index: 3;
}
input{
    text-align: center;
}
body{
    background: url("/static/img/samplebackground.png") no-repeat fixed;
}
.navbar{
    background: black;
    text-decoration: white;
    height: 100px;
}
.navbar > a{
    position: relative;
    text-decoration: none;
    color: white;
    font-weight: 300;
}
.navbar > a:hover{
    color: gold;
    transition: color .4s ease-in-out;

}
.navbar>a>.indicator{
    position: absolute;
    bottom: -18%;
    left: 30%;
    width: 42%;
    height: 0;
    background: gold;
    transition: height .2s ease-in-out;
}
.navbar >a:hover >.indicator{
    height: 5px;
    transition: height .2s ease-in-out;
}


#logo{
    position: relative;
    left: 20px;
    transition: all .2s ease-in-out;
    transform: scaleY(1) scaleX(1) translateX(-15px);
}
#logo:hover{
    transition: all .2s ease-in-out;
    transform: scaleY(1.1) scaleX(1.1) translateX(15px);
}


.footer{
    background: black;
    text-decoration: white;
}

div.active {
    background-color: #2e2e2e !important;
    color:white;
}

div.bat:hover {
    background-color: #80a3bb;

}

#player-health-bar {
    background: rgb(110,0,0);
    background: linear-gradient(90deg, rgba(110,0,0,1) 0%, rgba(255,0,0,1) 100%);
    width: 100%;
    height: 10px;
    transition: 1s ease-in-out;
}

#computer-health-bar {
    background: rgb(110,0,0);
    background: linear-gradient(90deg, rgba(110,0,0,1) 0%, rgba(255,0,0,1) 100%);
    width: 100%;
    height: 10px;
    transition: 1s ease-in-out;
}

/*div.bat{*/
/*    background-color: orange;*/

/*}*/

