body{
    background: url("/static/img/samplebackground.png") no-repeat fixed;
}
.navbar{
    background: black;
    text-decoration: white;
    height: 110px;
}
#logo:hover{
    width: 387px;
    height: 90px;
}

.footer{
    background: white;
}