<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/fragments :: header(title='About us!', css='/static/css/aboutUs.css')"></head>
<body>
<nav th:replace="partials/fragments :: navbar(location='notHome')"></nav>


<div id="master-container">
    <div class="container-fluid align-items-center justify-content-around m-auto row">
        <h3 class="">click on our pictures to learn more about us!</h3><div class="w-100"></div>
        <h4 class="m-5 drop contain-text pulsate">hover over the card to flip it!</h4>
        <div class="w-100"></div>
        <div id="Noah" class="profile text-center" onclick="infoLoader(info);">
            <h3 class="drop open">click on black space to exit</h3>
            <h4 class="drop contain-text pulsate">hover over the card to flip it!</h4>
<!--            <img src="/static/img/headshots/NoahBruno.jpg" class="img_fluid" alt="image">-->
            <section class="cards"> <!--test-->
                <div class="card noahfull animated"></div>
                <div id="Noah_full" class="drop card noahfull animated full-card Med"></div>
                <div class="contain drop">
                    <div class="flip-card">
                        <div class="inner">
                            <div class="front">
                                <img
                                        src="/static/img/pokemon_card_back.png"
                                        alt="back of card"
                                        style="width: 432px;height: 600px"
                                />
                            </div>
                            <div class="back">
                                <section class="cards">
                                    <div class="card noahfull animated full-card"></div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div> <!--at a certian screen size, they will get the full animation. else itll just be the normal-->
            </section>
            <h3>Noah Bruno</h3>
            <div class="drop open" id="Noah_links">
                <a href="https://github.com/NoahBruno" class="mx-5"><i class="fa fa-brands fa-github"></i>https://github.com/NoahBruno</a>
                <a href="https://www.linkedin.com/in/noahbruno" class="mx-5"><i class="fa fa-brands fa-linkedin"></i>https://www.linkedin.com/in/noahbruno</a>
            </div>
            <p class="drop open" id="info">Motivated full-stack software developer with a passion for developing new
                code and technology. Successful working in both team and self-directed settings. Eager to use my
                experience to help in the delivery of state-of-the-art software solutions.</p>
        </div>
        <div id="Manuel" class="profile text-center" onclick="infoLoader(info2);">
            <h3 class="drop open">click on black space to exit</h3>
            <h4 class="drop contain-text pulsate">hover over the card to flip it!</h4>
            <!--<img src="/static/img/headshots/manuel.jpeg" class="img_fluid" alt="image">-->
            <section class="cards"> <!--test-->
                <div class="card manuelfull animated"></div>
                <div id="Manuel_full" class="drop card manuelfull animated full-card Med"></div>
                <div class="contain drop">
                    <div class="flip-card">
                        <div class="inner">
                            <div class="front">
                                <img
                                        src="/static/img/pokemon_card_back.png"
                                        alt="back of card"
                                        style="width: 432px;height: 600px"
                                />
                            </div>
                            <div class="back">
                                <section class="cards">
                                    <div class="card manuelfull animated full-card"></div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div> <!--at a certian screen size, they will get the full animation. else itll just be the normal-->
            </section>
            <h3>Manuel Dominguez</h3>
            <div class="drop open" id="Manuel_links">
                <a href="https://github.com/Manueldominguez1113" class="mx-5">https://github.com/Manueldominguez1113</a>
                <a href="https://www.linkedin.com/in/manueladominguez13" class="mx-5">https://www.linkedin.com/in/manueladominguez13</a>
            </div>
            <p class="drop open" id="info2">Air Force Veteran and Software Developer experience with critical
                problem-solving skills. A lifelong passion to code and a deep desire to gain an understanding of
                software development led me to develop my full-stack skills. Ever enthusiastic to leverage my technical
                and problem-solving skills to develop software that can be supportive and appealing.</p>
        </div>
    </div>
    <br class="w-100">
    <div class="container-fluid m-auto align-items-center justify-content-around row">
        <div id="Michael" class="profile text-center" onclick="infoLoader(info3);">
            <h3 class="drop open">click on black space to exit</h3>
            <h4 class="drop contain-text pulsate">hover over the card to flip it!</h4>
            <!--<img src="/static/img/headshots/Michael.jpg" class="img_fluid" alt="image">-->
            <section class="cards"> <!--test-->
                <div class="card michaelfull animated"></div>
                <div id="Micheal_full" class="drop card michaelfull animated full-card Med"></div>
                <div class="contain drop">
                    <div class="flip-card">
                        <div class="inner">
                            <div class="front">
                                <img
                                        src="/static/img/pokemon_card_back.png"
                                        alt="back of card"
                                        style="width: 432px;height: 600px"
                                />
                            </div>
                            <div class="back">
                                <section class="cards">
                                    <div class="card michaelfull animated full-card"></div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div> <!--at a certian screen size, they will get the full animation. else itll just be the normal-->
            </section>
            <h3>Michael Jones</h3>
            <div class="drop open" id="Michael_links">
                <a href="https://github.com/MichaelKeithJones" class="mx-5">https://github.com/MichaelKeithJones</a>
                <a href="https://www.linkedin.com/in/michaelkeithjones" class="mx-5">https://www.linkedin.com/in/michaelkeithjones</a>
            </div>
            <p class="drop open" id="info3">A detailed-oriented Marine Corps Veteran and Software Developer with strong
                critical-thinking skills, and a passion for learning and computer programming. I hope to contribute my
                technical, professional, and 20 years of leadership experience to a new team while honing old and new
                skills.</p>

        </div>
        <div id="Gerald" class="profile text-center" onclick="infoLoader(info4);">
            <h3 class="drop open">click on black space to exit</h3>
            <h4 class="drop contain-text pulsate">hover over the card to flip it!</h4>
            <!--<img src="/static/img/headshots/geraldHeadShot.jpg" class="img_fluid" alt="image">-->
            <section class="cards"> <!--test-->
                <div class="card geraldfull animated"></div>
                <div id="Gerald_full" class="drop card geraldfull animated full-card Med"></div>
                <div class="contain drop">
                    <div class="flip-card">
                        <div class="inner">
                            <div class="front">
                                <img
                                        src="/static/img/pokemon_card_back.png"
                                        alt="back of card"
                                        style="width: 432px;height: 600px"
                                />
                            </div>
                            <div class="back">
                                <section class="cards">
                                    <div class="card geraldfull animated full-card"></div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div> <!--at a certian screen size, they will get the full animation. else itll just be the normal-->
            </section>
            <h3>Gerald Montero</h3>
            <div class="drop open" id="Gerald_links">
                <a href="https://github.com/geraldmontero" class="mx-5">https://github.com/geraldmontero</a>
                <a href="https://www.linkedin.com/in/gerald-montero" class="mx-5">https://www.linkedin.com/in/gerald-montero</a>
            </div>
            <p class="drop open" id="info4">Motivated software developer with a passion for front end design. My varied
                experience, which includes service in the military, healthcare and hospitality alllows me to bring
                unique perspectives to my work.</p>
        </div>
    </div>







</div>
<div th:include="partials/fragments :: footer(footer=true)"></div>
<script src="/static/js/about.js"></script>
</body>
</html>