<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <div th:include="partials/fragments :: header(title='About us!')"></div>
    <link rel="stylesheet" href="/static/css/aboutUs.css">
</head>
<body>
<nav th:replace="partials/fragments :: navbar"></nav>


<div id="master-container">
    <div class="container-fluid align-items-center justify-content-around m-auto row">
        <div id="Noah" class="profile text-center" onclick="infoLoader(info);">
            <img src="/static/img/headshots/NoahBruno.jpg" class="img_fluid" alt="image">
            <h3>Noah Bruno</h3>
            <p class="drop" id="info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores
                consequuntur facere non provident reiciendis? Aliquid, autem cumque, debitis deserunt
                dignissimos earum facere fuga ipsa maxime, mollitia odio officia quod reprehenderit sapiente
                similique tempora velit veniam. Assumenda, commodi consequatur consequuntur deserunt dolore
                doloremque explicabo fuga maxime, nam natus nesciunt nisi odit sapiente totam vero vitae
                voluptate. Amet at iusto laborum minima minus obcaecati pariatur, quisquam tenetur
                voluptatum! A atque cumque fuga, fugiat hic illo illum nam optio quisquam repellendus
                similique ullam velit voluptatem. Autem eius eos ex expedita impedit laudantium nam
                necessitatibus nesciunt nihil nisi quaerat sapiente tenetur, velit veniam voluptatum.</p>
        </div>
        <div id="Manuel" class="profile text-center" onclick="infoLoader(info2);">
            <img src="/static/img/headshots/manuel.jpeg" class="img_fluid" alt="image">
            <h3>Manuel Dominguez</h3>
            <p class="drop" id="info2">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Asperiores consequuntur facere non provident reiciendis? Aliquid, autem cumque, debitis
                deserunt dignissimos earum facere fuga ipsa maxime, mollitia odio officia quod reprehenderit
                sapiente similique tempora velit veniam. Assumenda, commodi consequatur consequuntur
                deserunt dolore doloremque explicabo fuga maxime, nam natus nesciunt nisi odit sapiente
                totam vero vitae voluptate. Amet at iusto laborum minima minus obcaecati pariatur, quisquam
                tenetur voluptatum! A atque cumque fuga, fugiat hic illo illum nam optio quisquam
                repellendus similique ullam velit voluptatem. Autem eius eos ex expedita impedit laudantium
                nam necessitatibus nesciunt nihil nisi quaerat sapiente tenetur, velit veniam
                voluptatum.</p>
        </div>
    </div>
    <br class="w-100">
    <div class="container-fluid m-auto align-items-center justify-content-around row">
        <div id="Michael" class="profile text-center" onclick="infoLoader(info3);">
            <img src="/static/img/headshots/Michael.jpg" class="img_fluid" alt="image" >
            <h3>Michael Jones</h3>
            <p class="drop" id="info3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores
                consequuntur facere non provident reiciendis? Aliquid, autem cumque, debitis deserunt
                dignissimos earum facere fuga ipsa maxime, mollitia odio officia quod reprehenderit sapiente
                similique tempora velit veniam. Assumenda, commodi consequatur consequuntur deserunt dolore
                doloremque explicabo fuga maxime, nam natus nesciunt nisi odit sapiente totam vero vitae
                voluptate. Amet at iusto laborum minima minus obcaecati pariatur, quisquam tenetur voluptatum! A
                atque cumque fuga, fugiat hic illo illum nam optio quisquam repellendus similique ullam velit
                voluptatem. Autem eius eos ex expedita impedit laudantium nam necessitatibus nesciunt nihil nisi
                quaerat sapiente tenetur, velit veniam voluptatum.</p>
        </div>
        <div id="Gerald" class="profile text-center" onclick="infoLoader(info4);" >
            <img src="/static/img/headshots/geraldHeadShot.jpg" class="img_fluid" alt="image" >
            <h3>Gerald Montero</h3>
            <p class="drop" id="info4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores
                consequuntur facere non provident reiciendis? Aliquid, autem cumque, debitis deserunt
                dignissimos earum facere fuga ipsa maxime, mollitia odio officia quod reprehenderit sapiente
                similique tempora velit veniam. Assumenda, commodi consequatur consequuntur deserunt dolore
                doloremque explicabo fuga maxime, nam natus nesciunt nisi odit sapiente totam vero vitae
                voluptate. Amet at iusto laborum minima minus obcaecati pariatur, quisquam tenetur voluptatum! A
                atque cumque fuga, fugiat hic illo illum nam optio quisquam repellendus similique ullam velit
                voluptatem. Autem eius eos ex expedita impedit laudantium nam necessitatibus nesciunt nihil nisi
                quaerat sapiente tenetur, velit veniam voluptatum.</p>
        </div>
    </div>
</div>
    <div th:include="partials/fragments :: footer"></div>
    <script src="/static/js/about.js"></script>
</body>
</html>