<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head th:replace="partials/fragments :: header(title='About us!', css='/static/css/aboutUs.css')"></head>
<body>
<nav th:replace="partials/fragments :: navbar(location='notHome')"></nav>


<div id="master-container">
    <div class="container-fluid align-items-center justify-content-around m-auto row">
        <h3 class="m-5">click on our pictures to learn more about us!</h3>
        <div class="w-100"></div>
        <div id="Noah" class="profile text-center" onclick="infoLoader(info);">
            <h3 class="drop open">click on black space to exit</h3>
            <img src="/static/img/headshots/NoahBruno.jpg" class="img_fluid" alt="image">
            <h3>Noah Bruno</h3>
            <div class="drop open" id="Noah_links">
                <a href="https://github.com/NoahBruno" class="mx-5">https://github.com/NoahBruno</a>
                <a href="https://www.linkedin.com/in/noahbruno" class="mx-5">https://www.linkedin.com/in/noahbruno</a>
            </div>
            <p class="drop open" id="info">Motivated full-stack software developer with a passion for developing new
                code and technology. Successful working in both team and self-directed settings. Eager to use my
                experience to help in the delivery of state-of-the-art software solutions.</p>
        </div>
        <div id="Manuel" class="profile text-center" onclick="infoLoader(info2);">
            <h3 class="drop open">click on black space to exit</h3>
            <img src="/static/img/headshots/manuel.jpeg" class="img_fluid" alt="image">
            <h3>Manuel Dominguez</h3>
            <div class="drop open" id="Manuel_links">
                <a href="https://github.com/Manueldominguez1113" class="mx-5">https://github.com/Manueldominguez1113</a>
                <a href="https://www.linkedin.com/in/manueladominguez13" class="mx-5">https://www.linkedin.com/in/manueladominguez13</a>
            </div>
            <p class="drop open" id="info2">Air Force Veteran and Software Developer experience with critical
                problem-solving skills. A lifelong passion to code and a deep desire to gain an understanding of
                software development led me to develop my full-stack skills. Ever enthusiastic to leverage my technical
                and problem-solving skills to develop software that can be supportive and appealing.</p>
        </div>
    </div>
    <br class="w-100">
    <div class="container-fluid m-auto align-items-center justify-content-around row">
        <div id="Michael" class="profile text-center" onclick="infoLoader(info3);">
            <h3 class="drop open">click on black space to exit</h3>
            <img src="/static/img/headshots/Michael.jpg" class="img_fluid" alt="image">
            <h3>Michael Jones</h3>
            <div class="drop open" id="Michael_links">
                <a href="https://github.com/MichaelKeithJones" class="mx-5">https://github.com/MichaelKeithJones</a>
                <a href="https://www.linkedin.com/in/michaelkeithjones" class="mx-5">https://www.linkedin.com/in/michaelkeithjones</a>
            </div>
            <p class="drop open" id="info3">A detailed-oriented Marine Corps Veteran and Software Developer with strong
                critical-thinking skills, and a passion for learning and computer programming. I hope to contribute my
                technical, professional, and 20 years of leadership experience to a new team while honing old and new
                skills.</p>

        </div>
        <div id="Gerald" class="profile text-center" onclick="infoLoader(info4);">
            <h3 class="drop open">click on black space to exit</h3>
            <img src="/static/img/headshots/geraldHeadShot.jpg" class="img_fluid" alt="image">
            <h3>Gerald Montero</h3>
            <div class="drop open" id="Gerald_links">
                <a href="https://github.com/geraldmontero" class="mx-5">https://github.com/geraldmontero</a>
                <a href="https://www.linkedin.com/in/gerald-montero" class="mx-5">https://www.linkedin.com/in/gerald-montero</a>
            </div>
            <p class="drop open" id="info4">Motivated software developer with a passion for front end design. My varied
                experience, which includes service in the military, healthcare and hospitality alllows me to bring
                unique perspectives to my work.</p>
        </div>
    </div>
<!--

    <section class="cards"> &lt;!&ndash;test&ndash;&gt;
        <div class="card charizard animated"></div>
        <div class="card pika animated"></div>
        <div class="card eevee animated"></div>
        <div class="card mewtwo animated"></div>
    </section>
-->

</div>
<div th:include="partials/fragments :: footer(footer=true)"></div>
<script src="/static/js/about.js"></script>
</body>
</html>