<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<div th:include="/partials/fragments :: header(title='Battle!')"></div>
        <link rel="stylesheet" href="/static/css/battle.css">
</head>
    <body>
        <nav th:replace="partials/fragments :: navbar"></nav>

        <div class="container battle-background">
            <div class="row">
                <div class="col">
                    <div class="row h-25"></div>
                    <div class="row h-75">
                        <div class="col">
                            <div class="row h-75 justify-content-center">
                                <div class="col-10" th:object = "${playerCard}">
                                    <div class="h-25 row bg-warning">
                                        <div class="col d-flex align-items-center">
                                            <div class="container">
                                                <div class="row"><h3 class="m-0"><span th:text="*{name}"></span></h3></div>
                                                <div class="row" style="background: black"><div id="player-health-bar"></div></div>
                                                <div class="row">
                                                    <h4 class="w-50 m-0"><span id="player-health-number"></span>/<span th:text="*{hp}"></span></h4>
                                                    <h6 class="w-25 m-0">ATK: <span th:text="*{attack}"></span></h6>
                                                    <h6 class="w-25 m-0"><span th:text="*{type}"></span></h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="h-75 row" style="background: rgba(24, 24, 24, 0.65)">
                                        <div class="col d-flex justify-content-center">
                                            <img width="250px" height="250px" th:src="*{image}"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="items" class="row justify-content-around"></div>
                        </div>
                    </div>
                </div>
                <div class="col-4" style="height: 700px"></div>
                <div class="col">
                    <div class="row h-75">
                        <div class="col">
                            <div class="row h-75 justify-content-center">
                                <div class="col-10" th:object = "${computerCard}">
                                    <div class="h-25 row bg-warning">
                                        <div class="col d-flex align-items-center">
                                            <div class="container">
                                                <div class="row"><h3 class="m-0"><span th:text="*{name}"></span></h3></div>
                                                <div class="row" style="background: black"><div id="computer-health-bar"></div></div>
                                                <div class="row">
                                                    <h4 class="w-50 m-0"><span id="computer-health-number"></span>/<span th:text="*{hp}"></span></h4>
                                                    <h6 class="w-25 m-0">ATK: <span th:text="*{attack}"></span></h6>
                                                    <h6 class="w-25 m-0"><span th:text="*{type}"></span></h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="h-75 row" style="background: rgba(24, 24, 24, 0.65)">
                                        <div class="col d-flex justify-content-center">
                                            <img width="250px" height="250px" th:src="*{image}"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row h-25">
                        <div class="col-6"></div>
                        <div class="col-6">
                            <div class="row"><button id="attack-button" type="button" class="btn btn-dark btn-lg my-2 w-100 button">Attack!</button></div>
                            <div class="row"><button id="run-button" type="button" class="btn btn-dark btn-lg my-2 w-100 button">Run!</button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div th:include="partials/fragments :: footer"></div>

        <script th:inline="javascript">
            (() => {
                let background = [[${backgroundUrl}]];
                console.log(background);
                document.querySelector('.battle-background').style.background = `url("${background}") no-repeat`;
                document.querySelector('.battle-background').style.backgroundSize = 'cover'

                let gameover = false;

                //--| Build & Set Player Data |----------//
                let player = {
                    name: [[${playerCard.name}]],
                    hp: [[${playerCard.hp}]],
                    currentHp: [[${playerCard.hp}]],
                    hpPercentage: 100,
                    attack: [[${playerCard.attack}]],
                    healthBar: document.querySelector('#player-health-bar'),
                    healthNumber: document.querySelector('#player-health-number')
                }
                player.healthNumber.innerHTML = player.currentHp;

                //--| Build & Set Computer Data |----------//
                let computer = {
                    name: [[${computerCard.name}]],
                    hp: [[${computerCard.hp}]],
                    currentHp: [[${computerCard.hp}]],
                    hpPercentage: 100,
                    attack: [[${computerCard.attack}]],
                    healthBar: document.querySelector('#computer-health-bar'),
                    healthNumber: document.querySelector('#computer-health-number')
                }
                computer.healthNumber.innerHTML = computer.currentHp;

                //--| Build & Set Item Data |----------//
                let itemsContainer = document.querySelector('#items');
                let items = JSON.parse([[${items}]]);
                const buildItemButtons = () => {
                    let itemsOutput = "";
                    for(let i = 0; i < items.length; i++) itemsOutput += `<button type="button" class="btn btn-dark w-25 mt-3 button item-button">${items[i].name}</button>`;
                    itemsContainer.innerHTML = itemsOutput;
                }
                buildItemButtons();

                //--| Game Play Functions |----------//
                function delay(n) {
                    n = n || 2000;
                    return new Promise(done => {
                        setTimeout(() => {
                            done();
                        }, n);
                    });
                }

                let allButtons = document.getElementsByClassName('button');
                const disableButtons = () => {
                    for(let i = 0; i < allButtons.length; i++) {
                        allButtons[i].classList.add('disabled');
                        allButtons[i].disabled = true;
                    }
                    console.log('----------------------------');
                    console.log('Disabled Buttons');
                    for(let i = 0; i < allButtons.length; i++) console.log(allButtons[i]);
                    console.log('----------------------------');
                }
                const enableButtons = () => {
                    for(let i = 0; i < allButtons.length; i++) {
                        allButtons[i].classList.remove('disabled');
                        allButtons[i].disabled = false;
                    }
                    console.log('----------------------------');
                    console.log('Enabled Buttons:');
                    for(let i = 0; i < allButtons.length; i++) console.log(allButtons[i]);
                    console.log('----------------------------');
                }

                const postItemRemoval = (id) => {
                    $.ajax({
                        type: "POST",
                        url: "/battle/remove/item",
                        data: {id: id},
                        timeout: 100000,
                        success: (message) => console.log("SUCCESS: ", message),
                        error: (error) => console.log("ERROR: ", error),
                        done: () => {}
                    });
                }
                const postWin = () => {
                    $.ajax({
                        type: "POST",
                        url: "/battle/won",
                        data: {id: [[${computerCard.id}]]},
                        timeout: 100000,
                        success: (message) => console.log("SUCCESS: ", message),
                        error: (error) => console.log("ERROR: ", error),
                        done: () => {}
                    });
                }
                const postLoss = () => {
                    $.ajax({
                        type: "POST",
                        url: "/battle/lost",
                        data: {gold: 1},
                        timeout: 100000,
                        success: (message) => console.log("SUCCESS: ", message),
                        error: (error) => console.log("ERROR: ", error),
                        done: () => {}
                    });
                }
                const getReturnHome = async () => {
                    gameover = true;
                    console.log('Gameover.');
                    await delay(3000);
                    window.location.replace(`/home`);
                }

                const checkAllHealth = () => {
                    if(player.currentHp === 0) {
                        console.log('Player loses.');
                        postLoss();
                        getReturnHome();
                    }
                    if(computer.currentHp === 0) {
                        console.log('Computer loses.');
                        postWin();
                        getReturnHome();
                    }
                }
                const applyStun = (rounds) => {}
                const adjustHealth = (target, amount) => {
                    console.log(amount > 0 ? `${target.name} loses ${amount} health points.` : `${target.name} gains ${amount * -1} health points.`);
                    const clamp = (num, min, max) => Math.min(Math.max(num, min), max);
                    let percentDamage = Math.round((amount / target.hp) * 100);
                    target.hpPercentage -= percentDamage;
                    target.hpPercentage = clamp(target.hpPercentage, 0, 100);
                    target.currentHp -= amount;
                    target.currentHp = clamp(target.currentHp, 0, target.hp);
                    target.healthBar.style = `width: ${target.hpPercentage}%`;
                    target.healthNumber.innerHTML = target.currentHp;

                    checkAllHealth();
                }
                const playerAttack = () => {
                    console.log('Player attacked');
                    adjustHealth(computer, player.attack);
                }
                const computerAttack = () => {
                    console.log('Computer attacked');
                    adjustHealth(player, computer.attack);
                }
                const useItem = (item) => {
                    console.log(`Item (${item.name}) used.`);
                    if (item.value > 0) adjustHealth(computer, item.value);
                    if (item.value === 0) applyStun(item.rounds);
                    if (item.value < 0) adjustHealth(player, item.value);
                }

                //--| Event Listeners (Game Logic) |----------//
                let attackButton = document.querySelector('#attack-button');
                attackButton.addEventListener('click', async () => {
                    disableButtons();
                    playerAttack();
                    await delay(3000);
                    if (!gameover) computerAttack();
                    if (!gameover) enableButtons();
                });

                let runButton = document.querySelector('#run-button');
                runButton.addEventListener('click', () => {
                    console.log('Player runs away!');
                    getReturnHome();
                });

                itemsContainer.addEventListener('click', async (e) => {
                    if (e.target.classList.contains('item-button')) {
                        disableButtons();
                        e.target.style.display = 'none';
                        let item = items.find(element => element.name === e.target.innerHTML);
                        useItem(item);
                        postItemRemoval(item.id);
                        await delay(3000);
                        if (!gameover) computerAttack();
                        if (!gameover) enableButtons();
                    }
                });

                //--| Get Starting Turn |----------//
                const checkFirstTurn = async () => {
                    let firstTurn = [[${turn}]];
                    if (firstTurn === 'Player') {
                        console.log(`Player starts first.`);
                        return;
                    } else {
                        console.log(`Computer starts first.`);
                        disableButtons();
                        await delay(3000);
                        if (!gameover) computerAttack();
                        if (!gameover) enableButtons();
                    }
                }
                checkFirstTurn();
            })();
        </script>
    </body>
</html>