<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head th:replace="/partials/fragments :: header(title='Battle!')"></head>
    <body>
        <nav th:replace="partials/fragments :: navbar"></nav>

        <h3 style="color: white">Current Turn: <span th:text="${turn}"></span></h3>
        <h3 style="color: white">Current Player Card: <span th:text="${playerCard}"></span></h3>
        <h3 style="color: white">Current Computer Card: <span th:text="${computerCard}"></span></h3>

        <input id="attack-button" type="button" value="Attack!">
        <input id="use-item-button" type="button" value="Item!">
        <input id="run-button" type="button" value="Run!">

        <div th:include="partials/fragments :: footer"></div>
    </body>
</html>