<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
        <head th:replace="partials/fragments :: header(title='Battle!', css='/static/css/battle.css')"></head>

    <body>
        <nav th:replace="partials/fragments :: navbar(location='battle')"></nav>

        <main>
            <div id="battle-background">
                <div id="player-info">
                    <div class="card">
                        <div class="info">
                            <div class="wrapper" th:object = "${computerCard}">
                                <span class="name" th:text="*{name}"></span>
                                <span class="type" th:text="*{type}"></span>
                            </div>
                        </div>
                        <div class="shadow"></div>
                    </div>
                </div>
                <div id="player">
                    <div class="player-oval"></div>
                    <img class="pokemon" src="" alt="Pokemon">
                </div>
                <div id="computer-info">
                    <div class="card">
                        <div class="info">
                            <div class="wrapper" th:object = "${playerCard}">
                                <span class="name" th:text="*{name}"></span>
                                <div class="attack">ATK:<span th:text="*{attack}"></span></div>
                                <span class="type" th:text="*{type}"></span>
                                <div class="counter">
                                    HP:
                                    <div class="counter-left">
                                        <span id="player-health-number"></span>
                                    </div>
                                    /
                                    <div class="counter-right">
                                        <span th:text="*{hp}"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="shadow"></div>
                    </div>
                </div>
                <div id="computer">
                    <div class="computer-oval"></div>
                    <img class="pokemon" src="" alt="Pokemon">
                </div>
            </div>
            <div id="input-output">
                <div id="items"></div>
                <div id="game-dialog">
                    <div class="box"></div>
                </div>
                <input type="button" class="button attack-button" value="Attack" />
                <input type="button" class="button run-button" value="Run" />
            </div>

        </main>

        <div th:include="partials/fragments :: footer(footer=false)"></div>

        <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
        <script th:inline="javascript">
            (() => {
                let textBox = document.querySelector('#game-dialog .box ');
                textBox.innerHTML = '';

                //--| Build & Set Player Data |----------//
                let player = {
                    type: '--player-bar-percentage',
                    id: [[${playerCard.id}]],
                    name: [[${playerCard.name}]],
                    hp: [[${playerCard.hp}]],
                    currentHp: [[${playerCard.hp}]],
                    hpPercentage: 100,
                    attack: [[${playerCard.attack}]],
                    avatar: document.querySelector('#player'),
                    healthBar: document.querySelector('.player-oval'),
                    healthNumber: document.querySelector('#player-health-number')
                }
                player.healthNumber.innerHTML = player.currentHp;
                player.healthBar.style.background = 'linear-gradient(rgb(0, 100, 0), rgb(0, 255, 0) 100%)';

                let computer = {
                    type: '--computer-bar-percentage',
                    id: [[${computerCard.id}]],
                    name: [[${computerCard.name}]],
                    hp: [[${computerCard.hp}]],
                    currentHp: [[${computerCard.hp}]],
                    hpPercentage: 100,
                    attack: [[${computerCard.attack}]],
                    avatar: document.querySelector('#computer'),
                    healthBar: document.querySelector('.computer-oval'),
                    healthNumber: document.querySelector('#computer-health-number')
                }
                computer.healthBar.style.background = 'linear-gradient(rgb(0, 100, 0), rgb(0, 255, 0) 100%)';

                let playerImgTag = document.querySelector('#player .pokemon');
                fetch(`https://pokeapi.co/api/v2/pokemon/${player.id}`)
                    .then(res => res.json())
                    .then(data => {
                        let front = data.sprites.versions['generation-v']
                        playerImgTag.src = front['black-white'].animated.back_default;
                    });

                let computerImgTag = document.querySelector('#computer .pokemon');
                fetch(`https://pokeapi.co/api/v2/pokemon/${computer.id}`)
                    .then(res => res.json())
                    .then(data => {
                        let front = data.sprites.versions['generation-v']
                        computerImgTag.src = front['black-white'].animated.front_default;
                    });

                //--| Build & Set Item Data |----------//
                let itemsContainer = document.querySelector('#items');
                let items = JSON.parse([[${items}]]);
                const buildItemButtons = () => {
                    let itemsOutput = "";
                    for(let i = 0; i < items.length; i++) itemsOutput += `<button type="button" class="button item-button">${items[i].name}</button>`;
                    itemsContainer.innerHTML = itemsOutput;
                }
                buildItemButtons();

                //--| Set Background |----------//
                let setBackground = () => {
                    let backgroundUrl = [[${backgroundUrl}]];
                    let backgroundDiv = document.querySelector('#battle-background').style;
                    backgroundDiv.background = `url("${backgroundUrl}") no-repeat`;
                    backgroundDiv.backgroundSize = 'cover';
                }
                setBackground();


                //--| Game Play Modifiers |----------//
                let isGameOver = false;
                let stunnedCounter = 0;

                //--| Game Play Functions |----------//
                function delay(n) {
                    n = n || 2000;
                    return new Promise(done => {
                        setTimeout(() => {
                            done();
                        }, n);
                    });
                }

                let allButtons = document.getElementsByClassName('button');
                const disableButtons = () => {
                    for(let i = 0; i < allButtons.length; i++) {
                        allButtons[i].classList.add('disabled');
                        allButtons[i].disabled = true;
                    }
                }
                const enableButtons = () => {
                    for(let i = 0; i < allButtons.length; i++) {
                        allButtons[i].classList.remove('disabled');
                        allButtons[i].disabled = false;
                    }
                }

                const postItemRemoval = (id) => {
                    $.ajax({
                        type: "POST",
                        url: "/battle/remove/item",
                        data: {id: id},
                        timeout: 100000,
                        success: (message) => console.log("SUCCESS: ", message),
                        error: (error) => console.log("ERROR: ", error),
                        done: () => {}
                    });
                }

                const postWin = () => {
                    $.ajax({
                        type: "POST",
                        url: "/battle/won",
                        data: {id: computer.id },
                        timeout: 100000,
                        success: (message) => console.log("SUCCESS: ", message),
                        error: (error) => console.log("ERROR: ", error),
                        done: () => {}
                    });
                }
                const postLoss = () => {
                    $.ajax({
                        type: "POST",
                        url: "/battle/lost",
                        data: {gold: 1},
                        timeout: 100000,
                        success: (message) => console.log("SUCCESS: ", message),
                        error: (error) => console.log("ERROR: ", error),
                        done: () => {}
                    });
                }
                const getReturnHome = async () => {
                    isGameOver = true;
                    textBox.innerHTML += 'Gameover.<br>';
                    await delay(3000);
                    window.location.replace(`/home/default`);
                }

                const attackType = () => {
                    let type = (Math.random() * (100 - 1) + 1);
                    if (type <= 5) return 'missed';
                    else if (type > 5 && type < 15) return 'grazed';
                    else if (type > 15 && type < 85) return 'attacked';
                    else if (type > 85 && type < 95) return 'power attacked';
                    else return 'critically attacked';
                }
                const checkAllHealth = () => {
                    if(player.currentHp === 0) {
                        textBox.innerHTML = 'Player loses.<br>';
                        postLoss();
                        getReturnHome();
                    }
                    if(computer.currentHp === 0) {
                        textBox.innerHTML = 'PLayer wins!.<br>';
                        postWin();
                        getReturnHome();
                    }
                }
                const applyStun = (rounds) => {
                    stunnedCounter = rounds;
                }
                const isStunned = () => {
                    if (stunnedCounter > 0) {
                        textBox.innerHTML += 'Computer is stunned.<br>' + stunnedCounter + ' rounds left.<br>';
                        stunnedCounter--;
                        return true;
                    } else return false;
                }
                const adjustHealth = (target, amount) => {
                    if (amount > 5) {
                        let attack = attackType();
                        switch(attack) {
                            case 'missed': amount *= 0; break;
                            case 'grazed': amount *= 0.5; break;
                            case 'power attacked': amount *= 1.5; break;
                            case 'critically attacked': amount *= 2; break;
                            default: break;
                        }
                        textBox.innerHTML = `${target.name} was ${attack}.<br>${target.name} loses ${amount} health points.<br>`;

                        target.avatar.classList.add('shake');
                        let wait = () => target.avatar.classList.remove('shake');
                        const delay = setTimeout(wait, 2000);

                    } else if (amount < 0) {
                        textBox.innerHTML += `${target.name} gains ${amount * -1} health points.<br>`
                    } else textBox.innerHTML += `${target.name} loses ${amount} health points.<br>`;

                    const clamp = (num, min, max) => Math.min(Math.max(num, min), max);
                    let percentDamage = Math.round((amount / target.hp) * 100);
                    target.hpPercentage -= percentDamage;
                    target.hpPercentage = clamp(target.hpPercentage, 0, 100);
                    target.currentHp -= amount;
                    target.currentHp = clamp(target.currentHp, 0, target.hp);

                    if (target.type === '--player-bar-percentage') target.healthNumber.innerHTML = target.currentHp;

                    target.healthBar.style.setProperty(`${target.type}`, `${(100-target.hpPercentage) / 100}`);
                    if (target.hpPercentage < 33) { target.healthBar.style.background = 'linear-gradient(rgb(0, 33, 0), rgb(255, 0, 0) 33%)'; }
                    else if (target.hpPercentage < 66) { target.healthBar.style.background = 'linear-gradient(rgb(66, 66, 0), rgb(255, 255, 0) 66%)'; }
                    else { target.healthBar.style.background = 'linear-gradient(rgb(0, 100, 0), rgb(0, 255, 0) 100%)'; }

                    checkAllHealth();
                }
                const playerAttack = () => {
                    adjustHealth(computer, player.attack);
                }
                const computerAttack = () => {
                    adjustHealth(player, computer.attack);
                }
                const useItem = (item) => {
                    textBox.innerHTML = `Item (${item.name}) used.<br>`;
                    if (item.value > 5) adjustHealth(computer, item.value);
                    if (item.value === 5) { adjustHealth(computer, item.value); applyStun(item.rounds); }
                    if (item.value < 5) adjustHealth(player, item.value);
                }

                //--| Event Listeners (Game Logic) |----------//
                let attackButton = document.querySelector('.attack-button');
                attackButton.addEventListener('click', async () => {
                    disableButtons();
                    playerAttack();
                    await delay(3000);
                    if (!isGameOver && !isStunned()) computerAttack();
                    if (!isGameOver) enableButtons();
                });

                let runButton = document.querySelector('.run-button');
                runButton.addEventListener('click', () => {
                    disableButtons();
                    textBox.innerHTML = 'Player runs away!<br>';
                    getReturnHome();
                });

                itemsContainer.addEventListener('click', async (e) => {
                    if (e.target.classList.contains('item-button')) {
                        disableButtons();
                        e.target.style.display = 'none';
                        let item = items.find(element => element.name === e.target.innerHTML);
                        useItem(item);
                        postItemRemoval(item.id);
                        await delay(3000);
                        if (!isGameOver && !isStunned()) computerAttack();
                        if (!isGameOver) enableButtons();
                    }
                });

                //--| Get Starting Turn |----------//
                const checkFirstTurn = async () => {
                    let firstTurn = [[${turn}]];
                    if (firstTurn === 'Player') {
                        textBox.innerHTML += `Player starts first.<br>`;
                        return;
                    } else {
                        textBox.innerHTML += `Computer starts first.<br>`;
                        disableButtons();
                        await delay(3000);
                        if (!isGameOver) computerAttack();
                        if (!isGameOver) enableButtons();
                    }
                }
                checkFirstTurn();
            })();
        </script>
    </body>
</html>