<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/fragments :: header(title='Contact Us', css='/static/css/contactUs.css')"></head>
<body>
        <nav th:replace="partials/fragments :: navbar(location='notHome')"></nav>

        <section class="mb-4">
            <h2 class="h1-responsive font-weight-bold text-center my-4" style="color: white">Contact us</h2>
            <form id="contactUs_Form" class="d-flex flex-column mx-auto text-center" th:action="@{/contact}" method="post">
                <div class="form-group">
                    <label style="color: white" for="subject">Subject</label>
                    <input type="text" class="form-control" id="subject" name="subject">
                </div>
                <div class="form-group">
                    <label style="color: white" for="message">Message</label>
                    <textarea class="form-control" id="message" name="message" rows="3"></textarea>
                </div>
                <br>
                <button type="submit" class="btn btn-dark">Submit</button>
            </form>
        </section>

        <div th:include="partials/fragments :: footer(footer=true)"></div>
    </body>
</html>