<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/partials/fragments :: header(title='splash')"></head>
<body>
<nav th:replace="/partials/fragments :: navbar"></nav>


<!-- Home page basic shell V1-->
<div class="container">
    <div class="row">

        <div id="myProfile" class="col-4 border-success">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="Profile Pic">
                <div class="card-body">
                    <h5 th:text="${user.getUsername()}" class="card-title">USER NAME HERE</h5>

                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Wins/losses</li>
                    <li class="list-group-item">XP <span th:text="*{user.getLevel()}"></span></li>
                    <li class="list-group-item" >Level <span th:text="*{user.getGold()}"></span></li>
                    <li class="list-group-item">Gold <span th:text="*{user.getGold()}"></span></li>
                </ul>
                <!--                <div class="card-body">-->
                <!--                    <a href="#" class="card-link">Card link</a>-->
                <!--                    <a href="#" class="card-link">Another link</a>-->
                <!--                </div>-->
            </div>

        </div>
        <!--card section V1-->

        <div id="myCards" class="col col-4 border border-2">
            <div class="col">
                <!--                card template for pokemon cards -->
                <div>INSERT CARD FROM API</div>
                <button type="button" class="btn btn-primary">I CHOSE YOU</button>

            </div>

        </div>
        <!--        store and pouch section V1-->

        <div class="col border border-2 col">
            <div class="container" id="items">
                <div>
                    <h5 class="text">Store</h5>
                    <div class="row" id="store">
                        <div class="col-4 border border-2"><a href="#">Item will here</a>
                            <input type=number min=1 max=10>
                            <button onclick="increment()">+</button>
                            <button onclick="decrement()">-</button>
                        </div>
                        <div class="col-4 border border-2"><a href="#">Item will here</a>
                            <input type=number min=1 max=10>
                            <button onclick="increment()">+</button>
                            <button onclick="decrement()">-</button>
                        </div>
                        <div class="col-4 border border-2"><a href="#">Item will here</a>
                            <input id=demoInput type=number min=1 max=10>
                            <button onclick="increment()">+</button>
                            <button onclick="decrement()">-</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 border border-2"><a href="#">Item will here</a>
                            <input type=number min=1 max=10>
                            <button onclick="increment()">+</button>
                            <button onclick="decrement()">-</button>
                        </div>
                        <div class="col-4 border border-2"><a href="#">Item will here</a>
                            <input type=number min=1 max=10>
                            <button onclick="increment()">+</button>
                            <button onclick="decrement()">-</button>
                        </div>
                        <div class="col-4 border border-2"><a href="#">Item will here</a>
                            <input type=number min=1 max=10>
                            <button onclick="increment()">+</button>
                            <button onclick="decrement()">-</button>
                        </div>
                    </div>
                    <div class="row justify-content-md-center">
                        total (insert total cost of selected items)
                    </div>
                    <div class="row justify-content-md-center">
                        <input type="submit" value="BUY">
                    </div>


                    <hr>
                    <h5>Pouches</h5>
                    <div class="container">

                        <div class="row" id="pouches">
                            <div id="pouch1" class="  tab bat col-4 border border-2">
                                <ul>
                                    <li>
                                        <div>ROCK</div>
                                    </li>
                                    <li>
                                        <div>STICK</div>
                                    </li>
                                    <li>
                                        <div>TREAT</div>
                                    </li>
                                </ul>
                            </div>
                            <div id="pouch2" class="tab bat col-4 border border-2">
                                <ul>
                                    <li>
                                        <div>ROCK</div>
                                    </li>
                                    <li>
                                        <div>STICK</div>
                                    </li>
                                    <li>
                                        <div>TREAT</div>
                                    </li>
                                </ul>
                            </div>
                            <div id="pouch3" class=" tab bat col-4 border border-2">
                                <ul>
                                    <li>
                                        <div>ROCK</div>
                                    </li>
                                    <li>
                                        <div>STICK</div>
                                    </li>
                                    <li>
                                        <div>TREAT</div>
                                    </li>
                                </ul>
                            </div>


                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>
    <!--    place holder battle button-->
<!--    <div class="row">-->
<!--        <div id="battle" class="mx-auto" style="width: 200px;">-->
<!--            <button>Battle Now</button>-->
<!--        </div>-->
<!--    </div>-->

    <input id="battle-button" type="submit" value="Battle" />

</div>

<div th:include="/partials/fragments :: footer"></div>
<script>
    $('.tab').click(function () {
        $(this).addClass('active').siblings().removeClass('active');
    });

    let pouchId = 1;
    let cardId = 1;

    let battleButton = document.querySelector('#battle-button');
    battleButton.addEventListener('click', function (event) {
        window.location.replace(`/battle/${cardId}/${pouchId}/`);
    });
</script>
</body>

</html>