<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <div th:include="partials/fragments :: header(title='home')"></div>
    <link rel="stylesheet" href="/static/css/homeview.css">
</head>
<body>
<nav th:replace="/partials/fragments :: navbar"></nav>

<!-- Home Page Basic Shell -->
<div class="container">
    <div class="row justify-content-center">


        <!-- Profile Section -->
        <div id="myProfile" class="d-none d-lg-block col-xs-4 col-md-4 col-lg-4 ">
            <div class="container">
                <div class="justify-content-center row">
                    <div class="col store-section my-2">
                        <div class=" m-2">
                            <img th:src="${user.getProfile_pic()}" width="10rem" class="card-img-top" alt="Profile Pic">
                            <div>
                                <h5 th:text="${user.getUsername()}" class="text-center"></h5>
                            </div>
                            <div class="m-1">
                                <ul>
                                    <li>Wins/losses: <span th:text="*{user.getWins()}"></span>/<span
                                            th:text="*{user.getLosses()}"></span></li>
                                    <li>XP: <span th:text="*{user.getXp()}"></span></li>
                                    <li>Level: <span th:text="*{user.getLevel()}"></span></li>
                                    <li>PokeDollas: &#x20BD; <span th:text="*{user.getGold()}"></span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="store-section col my-2">
                        <div class="m-1">
                            <!--                        <div>-->
                            <h5 class="text-center" id="pokemon-name">Pokemon - Name</h5>
                            <!--                        </div>-->
                            <ul>
                                <li id="pokemon-type">Pokemon - Type</li>
                                <li id="pokemon-subtype">Pokemon - Subtype</li>
                                <li id="pokemon-attack">Pokemon - Attack</li>
                                <li id="pokemon-hp">Pokemon - HP</li>
                                <li id="pokemon-rarity">Pokemon - Rarity</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Card Section -->

        <div class="  col-xs-4 col-md-4 col-lg-4 ">
            <div class="dropdown">
                <button class="btn golden-btn dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-expanded="false">
                    Sort
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a id="attackH2L" th:href="@{/home/attackH2L}" class="dropdown-item "><span>Order By Attack High to Low</span></a>
                    <a id="attackL2H" th:href="@{/home/attackL2H}" class="dropdown-item "><span>Order By Attack Low to High</span></a>
                    <a id="nameA2Z" th:href="@{/home/nameA2Z}" class="dropdown-item "><span>Order By Name A to Z</span></a>
                    <a id="nameZ2A" th:href="@{/home/nameZ2A}" class="dropdown-item "><span>Order By Name Z to A</span></a>
                </div>
            </div>
            <div class="card-scroll">
            <div class="row justify-content-center" id="myCards">

            </div>
            </div>
        </div>

        <!-- Store and Pouch Section -->
        <div class="  container col-xs-4 col-md-4 col-lg-4 " id="items">
            <h5 class="text-center store-section">Store &#x20BD;</h5>
            <div class=" store-scroll row justify-content-center" id="store">
                <div id="storeItems" class=" tap store-section m-1 col-3  " th:each="item : ${items}">
                    <div class="m-1">
                        <p th:text="${item.name}"></p>
                        <img th:src="${item.image}" th:alt="${item.name}">
                        <span>&#x20BD; <span th:text="${item.cost} "></span></span>
                        <input type="submit" th:id="${item.id}" value="Select" class="golden-btn"
                               style="clear: both; font-size:.5em;"/>
                    </div>
                </div>

            </div>
            <!--            <div class="row justify-content-center">-->

            <!--                <form id="buybutton" th:action="@{/home/addItems}" method="post">-->
            <!--                    <input class="golden-btn" style="font-size:1.3em;" id="buy" name="buy" type="submit" value="BUY">-->
            <!--                    <input id="pouchId" name="pouchId" value="" type="hidden">-->
            <!--                    <input id="itemId" name="itemId" value="" type="hidden">-->
            <!--                </form>-->
            <!--            </div>&lt;!&ndash; end of store&ndash;&gt;-->
            <br>

            <!--pouches-->
            <div id="pouches" class=" container col  text-center">
                <h5 class="store-section">Pouches</h5>
                <div class="row justify-content-center">

                    <div th:id="${userPouchIds.get(0)}" class=" store-section m-1 tab bat col-3 ">
                        <!--                Pouch1-->
                        <input type="submit" th:id="${userPouchIds.get(0)}" value="Select"
                               class="golden-btn" style="font-size:.5em;">
                        <div th:each="itemInPouch1 : ${itemsInPouch1}">
                            <img th:src="${itemInPouch1}"/>
                        </div>

                    </div>

                    <div th:id="${userPouchIds.get(1)}" class="store-section m-1 tab bat col-3 ">
                        <!--                Pouch2-->
                        <input type="submit"
                               th:id="${userPouchIds.get(1)}"
                               value="Select"
                               class="golden-btn" style="font-size:.5em;">


                        <div th:each="itemInPouch2 : ${itemsInPouch2}">
                            <img th:src="${itemInPouch2}"/>
                        </div>

                    </div>

                    <div th:id="${userPouchIds.get(2)}" class=" store-section m-1 tab bat col-3 ">
                        <!--                Pouch3-->
                        <input type="submit" th:id="${userPouchIds.get(2)}" value="Select"
                               class="golden-btn" style="font-size:.5em;">
                        <div th:each="itemInPouch3 : ${itemsInPouch3}">
                            <img th:src="${itemInPouch3}"/>
                        </div>

                    </div>
                </div>
            </div> <!--end of pouches-->
            <div class="row justify-content-center">
                <div class="col-6 text-center">
                    <div class="mx-auto">

                        <form id="buybutton" th:action="@{/home/addItems}" method="post">
                            <input class="golden-btn" style="font-size:1.3em;" id="buy" name="buy" type="submit"
                                   value="BUY">
                            <input id="pouchId" name="pouchId" value="" type="hidden">
                            <input id="itemId" name="itemId" value="" type="hidden">
                        </form>
                    </div>

                </div>

                <div class="col text-center">
                    <!--battle button! need to make it more visible and put it somewhere everyone can see it without effort-->
                    <div id="battle" class="mx-auto" style="width: 200px;">
                        <input class="golden-btn" style="font-size:1.3em;" id="battle-button" type="submit"
                               value="Battle"/>
                    </div>
                </div>
            </div>

        </div>


    </div> <!--end of container-->


</div>
</div>


<div th:include="/partials/fragments :: footer"></div>

<script th:inline="javascript">
    let activeCard = 0;

    let cards = JSON.parse([[${cards}]]);
    let cardsContainer = document.querySelector('#myCards');
    let buildCards = () => {
        cardsContainer.innerHTML = "";
        cards.forEach(element => {
            cardsContainer.innerHTML += `
                        <div class="button m-1 store-section  card " title="${element.name}" data-id="1" style="width: 10rem;">
                             <h5  class="text-white text-center card-text">${element.name}</h5>
                            <img src="${element.image}" data-id="${element.id}" class="card-img" alt="${element.name}">

                        </div>
                    `;
        });
    }
    buildCards();
    cardsContainer.addEventListener('click', (e) => {
        let id = e.target.getAttribute('data-id');
        let card = cards.filter(element => element.id === parseInt(id))[0];
        document.querySelector('#pokemon-name').innerHTML = `Name: ${card.name}`;
        document.querySelector('#pokemon-type').innerHTML = `Type: ${card.type}`;
        document.querySelector('#pokemon-subtype').innerHTML = `Stage: ${card.subtype}`;
        document.querySelector('#pokemon-attack').innerHTML = `Attack: ${card.attack}`;
        document.querySelector('#pokemon-hp').innerHTML = `HP: ${card.hp}`;
        document.querySelector('#pokemon-rarity').innerHTML = `Rarity: ${card.rarity}`;
        activeCard = id;
    });

    $('.tab').click(function () {
        $(this).addClass('active').siblings().removeClass('active');
    });
    $('.tap').click(function () {
        $(this).addClass('active').siblings().removeClass('active');
    });

    var activeItem = 0;
    let itemsContainer = document.querySelector('#store');
    itemsContainer.addEventListener('click', (e) => {
        activeItem = e.target.id;
    });

    var activePouch = 0;
    let pouchContainer = document.querySelector('#pouches');
    pouchContainer.addEventListener('click', (e) => {
        activePouch = e.target.id;
    });

    let buyButton = document.querySelector('#buybutton');
    buyButton.addEventListener('submit', function (event) {
        event.preventDefault();

        if (activeItem === 0 || activePouch === 0) {
            alert("Pick an item and pouch");
            return;
        } else {
            $("#pouchId").val(activePouch)
            $("#itemId").val(activeItem)
            buyButton.submit();
        }
    });


    let battleButton = document.querySelector('#battle-button');

    battleButton.addEventListener('click', function (event) {
        console.log(activeCard + " " + activePouch)
        if (activeCard === 0 || activePouch === 0) alert("Pick a card and pouch");
        else window.location.replace(`/battle/${activeCard}/${activePouch}/`);

    });

    <!-- Select By Class : Button -->
    let button = document.getElementsByClassName('button');
    let container = document.querySelector('#myCards');
    container.addEventListener('click', (e) => {
        for (let i = 0; i < 200; i++) {
            if (button[i].contains(e.target)) {
                let oldSelectedButton = document.querySelector('.button-selected');
                if (oldSelectedButton) oldSelectedButton.classList.remove('button-selected');
                button[i].classList.add('button-selected');
                console.log(button[i].getAttribute('data-id'));
            }
        }
    });
</script>
</body>
</html>