<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <div th:include="partials/fragments :: header(title='Splash')"></div>
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
<nav th:replace="partials/fragments :: navbar"></nav>

<img id="loader" src="#" alt="opening gif" class="active">

<h1 id="welcome" class="display-1 text-center">Welcome to the PokeFight!</h1>


<div th:include="partials/fragments :: footer"></div>
<script src="/static/js/index.js"></script>
</body>
</html>