<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/partials/fragments :: header(title='splash')"></head>
<body>
<nav th:replace="/partials/fragments :: navbar"></nav>


<!-- Home page basic shell V1-->
<div class="container">
    <div class="row">

        <div id="myProfile" class="col-4 border-success">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="Profile Pic">
                <div class="card-body">
                    <h5 class="card-title">USER NAME HERE</h5>

                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Wins/losses</li>
                    <li class="list-group-item">XP(use a bar here if possible)</li>
                    <li class="list-group-item">Level</li>
                    <li class="list-group-item">Gold</li>
                </ul>
                <!--                <div class="card-body">-->
                <!--                    <a href="#" class="card-link">Card link</a>-->
                <!--                    <a href="#" class="card-link">Another link</a>-->
                <!--                </div>-->
            </div>

        </div>
        <!--card section V1-->

        <div id="myCards" class="col col-4 border border-2">
            <div class="col">
                <!--                card template for pokemon cards -->
                <div>INSERT CARD FROM API</div>
                <button type="button" class="btn btn-primary">I CHOSE YOU</button>

            </div>

        </div>
        <!--        store and pouch section V1-->

        <div class="col border border-2 col">
            <div class="container" id="items">
                <div>
                    <h5 class="text">Store</h5>
<!--                    <form th:action="@{/home}" th:method="POST" th:object="${items}">-->
                    <div class="row" id="store">
                        <div class="col-4 border border-2" th:each="item : ${items}"><a href="#" th:text="${item.name}"></a>
                            <form th:action="@{/home/add}" th:method="POST" th:object="${item}">
                                <input id="addItem" name="addItem" th:value="${item.id}" type="hidden" />
                                <input type="submit" id="submit" class="btn btn-sm" name="Purchase" />
                            </form>
                        </div>
                    <div class="row justify-content-md-center">
                        total (insert total cost of selected items)
                    </div>
                    <div class="row justify-content-md-center">
                        <input type="submit" value="BUY">
                    </div>


                    <hr>
                    <h5>Pouches</h5>
                    <div class="row" id="pouches">
                        <div class=" col border border-2" th:each="pouch : ${pouches}">Pouch#<a href="#" id="pouchItem" th:text="${pouch.id}"></a>
<!--
                                <form th:action="@{/home/items_in_pouch}" th:method="POST" th:object="${pouches}">-->
<!--                                <input id="pouchItem" name="pouchItem" th:text="${pouches.id}" />-->
<!--                            </form>-->
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>
    <!--    place holder battle button-->
    <div class="row">
        <div id= "battle" class="mx-auto" style="width: 200px;">
            <button>Battle Now</button>
        </div>
    </div>
</div>

<div th:include="/partials/fragments :: footer"></div>
<script>
    $("#battle").click(function () {
        $.ajax({
            type: "POST",
            url: "/pouch_and_card/id",
            data: {pouch_id:1,card_id:1},
            timeout: 100000,
            success: function (imageURL) {
                console.log("SUCCESS: ", imageURL);
            },
            error: function (e) {
                console.log("ERROR: ", e);
            },
            done: function (e) {
                console.log("DONE");
            }
        });
    });
</script>
</body>

</html>